@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* calendar */

.calendar {
  font-family: "Vazirmatn", sans-serif !important;
  text-align: center;
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.calendar a {
  color: grey;
}

.calendar-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.trigers {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.date {
  font-size: 1rem;
}

.navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.trigers > * {
  margin-left: 1rem;
}

.cell {
  overflow-y: auto;
  background: #fffeee;
  width: 14.2857%;
  height: 90px;
  font-size: 0.7em;
  box-shadow: 0 0 1px #393939;
}

.cell-daily {
  width: 100%;
}

.cell-week-day {
  height: 300px;
}

.cell .date {
  margin: 4px;
}

.current {
  background: #d3edd3;
}

.current .date {
  font-weight: bold;
}

.otherMonth {
  background: #f7f7f7;
}

.otherMonth .date {
  color: #bfbfbf;
}

.addEventOnDay {
  display: inline-block;
  color: #4f4f4f;
  text-decoration: none;
  margin-left: 4px;
  background: #e1e1e1;
  padding: 0 6px;
  border-radius: 3px;
}

.miniEvent {
  background: #1f86ef;
  color: white;
  padding: 3px;
  font-size: 0.7rem;
  margin: 0.3rem;
  border-radius: 3px;
}

.miniEvent-title {
  font-size: 1rem;
}

.miniEvent.holiday {
  background: #3fb73f;
}

.miniEvent.link-display {
  background: hsl(19, 78%, 57%);
}
.link-display > a {
  text-decoration: none;
  color: white;
}
.link-display:hover {
  background-color: hsl(19, 78%, 37%);
}
.navigation .monthAndYear {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 2rem;
}

.navigation .monthAndYear a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  background: #27bc27;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  text-shadow: 0 0 2px #727272;
}

.navigation .back,
.navigation .forward {
  cursor: pointer;
  font-size: 1em;
  color: grey;
  margin: 0 2rem;
}

.navigation .back {
  text-align: left;
}

.navigation .forward {
  text-align: right;
}

.main-calendar {
  width: 100%;
}

.weeksLable {
  display: flex;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.dayLabel {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: #e9e9e9;
  border-top: 3px solid #cacaca;
  border-bottom: 3px solid #cacaca;
}

.calendar-btn {
  width: 100%;
  background: #20a8d8;
  border: 0;
  border-bottom: 3px solid #177192;
  color: white;
  height: 38px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.calendar-btn:hover {
  background: #157fa6;
}


.pointerEvent {
  pointer-events: none;
  background-color: #177192;
}